<!doctype html>
<html lang="en" ng-app="listaPessoa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="/data/src/css/style.css" rel="stylesheet">
    <title>Listagem de pessoa</title>
</head>
<body ng-controller="pessoaController">
<div class="c-container">
    <input placeholder="Campo de busca" ng-model="criterioDebusca">
    <button class="btn btn-primary bt-botaoAdicionar" ng-click="novo()">Novo</button>
    <table class="table-bordered t-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Mae</th>
                <th>Pai</th>
                <th>Endereço</th>
                <th>Bairro</th>
                <th>Cep</th>
                <th>Cidade</th>
                <th>Uf</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Nascimento</th>
                <th>Sexo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pessoa in pessoas | filter:criterioDebusca track by $index">
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.mae}}</td>
                <td>{{pessoa.pai}}</td>
                <td>{{pessoa.endereco}}</td>
                <td>{{pessoa.bairro}}</td>
                <td>{{pessoa.cep}}</td>
                <td>{{pessoa.cidade}}</td>
                <td>{{pessoa.uf}}</td>
                <td>{{pessoa.telefone}}</td>
                <td>{{pessoa.celular}}</td>
                <td>{{pessoa.email}}</td>
                <td>{{pessoa.nascimento | date:'dd/MM/yyyy'}}</td>
                <td>{{pessoa.sexo}}</td>
                <td class="tamanho-td">
                    <a href="formularioPessoa.html?id={{pessoa.id}}"><i class="fas fa-edit"></i></a>
                    <button class="btn btn-danger" ng-click="excluir(pessoa)"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    angular.module('listaPessoa', []);
    angular.module('listaPessoa').controller('pessoaController', ($scope, $http) =>{
       $scope.pessoas = [];

       $http({
           url:'/data/controllers/PessoaController.php?acao=listar',
           method:'GET'
       }).then((response) => {
           return response.data;
       }).then((response) => {
           $scope.pessoas = response.dados;
           console.log($scope.pessoas)
       }).catch((error) => {
           console.log(error);
       });

       $scope.novo = () => {
           location.href = 'formularioPessoa.html';
       }

        $scope.excluir = (pessoa) => {
            $http({
                method: "POST",
                url: "/data/controllers/PessoaController.php?acao=excluir",
                data: {
                    id: pessoa.id
                }
            }).then((response) => {
                return response.data;
            }).then((response) => {
                const i = $scope.pessoas.indexOf(pessoa);
                $scope.pessoas.splice(i, 1);

                console.log(response);
            }).catch((error)=> {
                console.log(error);
            })
        }

    });
</script>
</html>